<%= form_with(model: folder2, local: true) do |form| %>
  <% if folder2.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(folder2.errors.count, "error") %> prohibited this folder2 from being saved:</h2>

      <ul>
      <% folder2.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :folder2_title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :folder2_content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
