<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @folder2.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @folder2.content %>
</p>

<%= link_to 'Edit', edit_folder2_path(@folder2) %> |
<%= link_to 'Back', folder2s_path %>
